---
layout: regular
banner_size: medium
---

{% assign test_tags = "Totoro, Ghibli" | split: ", " %}
{% assign test_date = "April 16, 1988" %}
{% assign test_description_long = "My Neighbor Totoro (Japanese: となりのトトロ, Hepburn: Tonari no Totoro) is a 1988 Japanese animated fantasy film written and directed by Hayao Miyazaki and animated by Studio Ghibli for Tokuma Shoten. The film—which stars the voice actors Noriko Hidaka, Chika Sakamoto, and Hitoshi Takagi—tells the story of a professor's two young daughters (Satsuki and Mei) and their interactions with friendly wood spirits in postwar rural Japan." %}
{% assign test_description = "My Neighbor Totoro (Japanese: となりのトトロ, Hepburn: Tonari no Totoro) is a 1988 Japanese animated fantasy film written and directed by Hayao Miyazaki and animated by Studio Ghibli for Tokuma Shoten. The film—which stars the voice actors Noriko Hidaka, Chika Sakamoto, and Hitoshi Takagi—tells the story of a professor's two young daughters (Satsuki and Mei) and their interactions with friendly wood spirits in postwar rural Japan." %}
{% assign test_url = "https://en.wikipedia.org/wiki/My_Neighbor_Totoro" %}
{% assign test_img = "totoro.jpg" %}
{% assign test_title = "My Neighbor Totoro" %}
{% assign test_medium_url = test_url %}
{% assign test_github_url = test_url %}
{% assign test_arxiv_url = test_url %}

{% include heading.html title="Entries with images" %}

{% include entry.html 
    date=test_date
    title=test_title
    description=test_description
    tags=test_tags
    url=test_url
    img=test_img
    medium_url=test_medium_url
    github_url=test_github_url
    arxiv_url=test_arxiv_url
    %}

{% include entry.html 
    date=test_date
    title=test_title
    description=test_description
    tags=test_tags
    url=test_url
    img=test_img
    medium_url=test_medium_url
    github_url=test_github_url
    arxiv_url=test_arxiv_url
    %}

{% include entry.html 
    date=test_date
    title=test_title
    description=test_description
    tags=test_tags
    url=test_url
    img=test_img
    medium_url=test_medium_url
    github_url=test_github_url
    arxiv_url=test_arxiv_url
    %}

{% include heading.html title="Entries without images" %}

{% include entry.html 
    date=test_date
    title=test_title
    description=test_description
    tags=test_tags
    url=test_url
    medium_url=test_medium_url
    github_url=test_github_url
    arxiv_url=test_arxiv_url
    %}
    
{% include entry.html 
    date=test_date
    title=test_title
    description=test_description
    tags=test_tags
    url=test_url
    medium_url=test_medium_url
    github_url=test_github_url
    arxiv_url=test_arxiv_url
    %}

{% include entry.html 
    date=test_date
    title=test_title
    description=test_description
    tags=test_tags
    url=test_url
    medium_url=test_medium_url
    github_url=test_github_url
    arxiv_url=test_arxiv_url
    %}

{% include heading.html title="Collapsible entries with image" %}

{% include entry_collapsible.html 
    date=test_date
    title=test_title
    description=test_description
    tags=test_tags
    url=test_url
    medium_url=test_medium_url
    github_url=test_github_url
    arxiv_url=test_arxiv_url
    img=test_img
    unique_id="1"
    description_long=test_description_long
    %}

{% include entry_collapsible.html 
    date=test_date
    title=test_title
    description=test_description
    tags=test_tags
    url=test_url
    medium_url=test_medium_url
    github_url=test_github_url
    arxiv_url=test_arxiv_url
    img=test_img
    unique_id="2"
    description_long=test_description_long
    %}

{% include heading.html title="Collapsible entries without image" %}

{% include entry_collapsible.html 
    date=test_date
    title=test_title
    description=test_description
    tags=test_tags
    url=test_url
    medium_url=test_medium_url
    github_url=test_github_url
    arxiv_url=test_arxiv_url
    unique_id="3"
    description_long=test_description_long
    %}

{% include entry_collapsible.html 
    date=test_date
    title=test_title
    description=test_description
    tags=test_tags
    url=test_url
    medium_url=test_medium_url
    github_url=test_github_url
    arxiv_url=test_arxiv_url
    unique_id="4"
    description_long=test_description_long
    %}
