---
layout: regular
banner_size: medium
title: My Books
canonical: https://google.com
toc:
    - t1:
        title: Nonfiction
        tag: readingnonfiction
    - t2:
        title: Fiction
        tag: readingfiction
---

{% include paragraph.html text="You are what you read." %}

{% include books.html title="Reading - nonfiction" tag="readingnonfiction" data_src="books" category="nonfiction" %}

{% include books.html title="Reading - fiction" tag="readingfiction" data_src="books" category="fiction" %}
