<!-- bloc-banner -->
<div class="bloc d-bloc" id="bloc-banner">
	<div class="container bloc-sm-lg bloc-sm-md bloc-sm-sm bloc-sm">
		<div class="row">
			<div class="col text-center text-md-start text-sm-center">
				<a href="{{ '/index.html' | relative_url }}"><img
						src="{{ '/assets/img/lazyload-ph.png' | relative_url }}"
						data-src="{{ '/assets/img/' | relative_url }}{{ site.logo_white }}"
						class="img-fluid img-protected float-lg-none img-banner lazyload" alt="logo" /></a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-banner-sm END -->