<!-- bloc-entry-collapsible-with-img -->
<div class="bloc l-bloc" id="bloc-entry-collapsible-with-img">
	<div class="container bloc-sm-sm bloc-sm bloc-sm-lg">
		<div class="row">
			<div class="offset-md-1 offset-lg-1 col-lg-10 col-md-10 offset-1 col-10">
				<div id="accordion-{{ include.unique_id }}">
					<div class="card border-0">
						<div class="card-header border-transparent bgc-white" id="heading1">
							<div class="row" data-bs-toggle="collapse"
								data-bs-target="#accordion-{{ include.unique_id }}-item-1"
								aria-controls="accordion-{{ include.unique_id }}-item-1" aria-expanded="true">
								{% if include.date %}
								<div class="col-lg-12 offset-lg-0 offset-md-0 col-md-12">
									<p class="mg-clear text-lg-start text-start text-sm-start youya-p-alt">
										{{ include.date }}
									</p>
								</div>
								{% endif %}
								{% if include.img %}
								<div class="offset-lg-0 offset-md-0 col-lg-9 col-md-9 col-8">
									{% else %}
									<div class="offset-lg-0 offset-md-0 col-lg-12 col-md-12 col-12">
										{% endif %}
										<h5 class="mg-sm">
											<strong>{{ include.title }}</strong>
										</h5>
										<p class="p-fixed-size youya-p mg-clear d-md-block  d-none ">
											{% if include.description_short %}
											{{ include.description_short }}
											{% else %}
											{{ include.description_long }}
											{% endif %}
										</p>
										{% if include.tags %}
										<div class="d-md-block  d-none">
											{% for tag in include.tags %}
											<label class="label-link">
												{{ tag }}
											</label>
											{% endfor %}
										</div>
										{% endif %}
									</div>
									{% if include.img %}
									<div class="col-lg-3 col-md-3 col-4">
										<img src="{{ '/assets/img/lazyload-ph.png' | relative_url }}"
											data-src="{{ '/assets/img/' | relative_url }}{{ include.img }}"
											class="img-fluid img-protected mx-auto d-block lazyload youya-entry-img float-lg-end float-end float-sm-end float-md-end"
											alt="img" />
									</div>
									{% endif %}
								</div>
							</div>
							<div id="accordion-{{ include.unique_id }}-item-1" class="collapse"
								aria-labelledby="heading1" data-bs-parent="#accordion-{{ include.unique_id }}">
								<div class="card-body bgc-snow">
									<div class="text-lg-start text-md-start text-sm-start text-start">
										{% if include.github_url %}
										<a href="{{ include.github_url }}"><span
												class="icon-md fab fa-github icon-md-padded float-lg-none icon-common"></span></a>
										{% endif %}
										{% if include.medium_url %}
										<a href="{{ include.medium_url }}"><span
												class="icon-md fab fa-medium icon-md-padded icon-common"></span></a>
										{% endif %}
										{% if include.arxiv_url %}
										<a href="{{ include.arxiv_url }}"><span
												class="icon-md fa fa-file-pdf icon-md-padded icon-common"></span></a>
										{% endif %}
										{% if include.other_url %}
										<a href="{{ include.other_url }}"><span
												class="icon-md icon-md-padded fa fa-external-link-alt icon-common "></span></a>
										{% endif %}
									</div>
									{% if include.used_in_publication %}
									<p class="youya-p">
										Used in publication: {{ include.used_in_publication }}
									</p>
									{% endif %}
									{% if include.arxiv %}
									<p class="youya-p">
										arXiv: {{ include.arxiv }}
									</p>
									{% endif %}
									{% if include.paper %}
									<p class="youya-p">
										Publication: {{ include.paper }}
									</p>
									{% endif %}
									{% if include.description_long %}
									<p class="youya-p">
										{{ include.description_long }}
									</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- bloc-entry-collapsible-with-img END -->