{% include heading.html title=include.title tag=include.tag %}

{% assign dat = "" | split: "" %}
{% for data_src in include.data_src %}
  {% assign src_data = site.data[data_src] %}
  {% for item in src_data %}
    {% assign dat = dat | push: item %}
  {% endfor %}
{% endfor %}

{% if include.sort_field %}
{% assign dat = dat | sort: include.sort_field | reverse %}
{% endif %}

{% for entry in dat %}

    {% capture unique_id %}{{ include.data_src | append: forloop.index }}{% endcapture %}

    {% assign tags = entry.tags | split: ", " %}

    {% include entry_collapsible.html 
        title=entry.title
        description_short=entry.description_short
        tags=tags
        github_url=entry.github_url
        arxiv_url=entry.arxiv_url
        medium_url=entry.medium_url
        other_url=entry.other_url
        unique_id=unique_id
        description_long=entry.description_long
        img=entry.img
        date=entry.date
        used_in_publication=entry.used_in_publication
        arxiv=entry.arxiv
        paper=entry.paper
        %}

{% endfor %}