<!-- bloc-entry-collapsible-with-img -->
<div class="bloc l-bloc" id="bloc-entry-collapsible-with-img">
	<div class="container bloc-sm-sm bloc-sm bloc-sm-lg">
		<div class="row">
			{% if include.img %}
			<div class="offset-lg-1 col-lg-6 offset-md-1 col-md-7">
			{% else %}
			<div class="offset-md-1 col-md-10 offset-lg-1 col-lg-10">
			{% endif %}
				<div id="accordion-{{ include.unique_id }}">
					<div class="card border-0">
						<div class="card-header border-transparent bgc-white" id="heading1">
							<div class="row" data-bs-toggle="collapse" data-bs-target="#accordion-{{ include.unique_id }}-item-1" aria-controls="accordion-{{ include.unique_id }}-item-1" aria-expanded="true">
                                {% if include.date %}
                                <div class="col-lg-12 offset-lg-0 offset-md-0 col-md-12">
									<p class="mg-clear text-lg-start p-style-tertiary text-start text-sm-start">
                                        {{ include.date }}
									</p>
								</div>
                                {% endif %}
                                <div class="offset-lg-0 col-lg-12 offset-md-0 col-md-12">
									<h5 class="mg-sm">
										<strong>{{ include.title }}</strong>
									</h5>
									{% if include.description %}
									<p class="p-fixed-size p-style-secondary mg-clear">
										{{ include.description }}
									</p>
									{% endif %}
									{% if include.tags %}
									<div>
										{% for tag in include.tags %}
										<label class="label-link">
											{{ tag }}
										</label>
										{% endfor %}
									</div>
									{% endif %}
								</div>
							</div>
						</div>
						<div id="accordion-{{ include.unique_id }}-item-1" class="collapse" aria-labelledby="heading1" data-bs-parent="#accordion-{{ include.unique_id }}">
							<div class="card-body bgc-snow">
								<div class="text-lg-start text-md-start text-sm-start text-start">
									{% if include.github_url %}
									<a href="{{ include.github_url }}"><span class="icon-md fab fa-github icon-md-padded float-lg-none icon-common"></span></a>
									{% endif %}
									{% if include.medium_url %}
									<a href="{{ include.medium_url }}"><span class="icon-md fab fa-medium icon-md-padded icon-common"></span></a>
									{% endif %}
									{% if include.arxiv_url %}
									<a href="{{ include.arxiv_url }}"><span class="icon-md fa fa-file-pdf icon-md-padded icon-common"></span></a>
									{% endif %}
									{% if include.other_url %}
									<a href="{{ include.other_url }}"><span class="icon-md icon-md-padded fa fa-external-link-alt icon-common "></span></a>
									{% endif %}
								</div>
								{% if include.description_long %}
								<p class="p-style-secondary">
									{{ include.description_long }}
								</p>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% if include.img %}
			<div class="col-lg-4 col-md-3">
				<img src="assets/img/lazyload-ph.png" data-src="assets/img/{{ include.img }}" class="img-fluid img-protected mx-auto d-block img-shifted-down lazyload" alt="img" />
			</div>
			{% endif %}
		</div>
	</div>
</div>
<!-- bloc-entry-collapsible-with-img END -->