{% include heading.html title=include.title tag=include.tag %}

{% if include.sort_field %}
{% assign dat = site.data[include.data_src] | sort: include.sort_field | reverse %}
{% else %}
{% assign dat = site.data[include.data_src] %}
{% endif %}

{% for entry in dat %}

    {% capture unique_id %}{{ include.data_src | append: forloop.index }}{% endcapture %}

    {% assign tags = entry.tags | split: ", " %}

    {% include entry.html 
        title=entry.title
        description=entry.description
        tags=tags
        url=entry.url
        unique_id=unique_id
        img=entry.img
        date=entry.date
        %}

{% endfor %}