{% include heading.html title=include.title tag=include.tag %}

{% assign dat = "" %}
{% for data_src in include.data_src %}
    {% assign dat = dat | concat: site.data[data_src] %}
{% endfor %}

{% if include.sort_field %}
{% assign dat = dat | sort: include.sort_field | reverse %}
{% endif %}

{% for entry in dat %}

    {% capture unique_id %}{{ include.data_src | append: forloop.index }}{% endcapture %}

    {% assign tags = entry.tags | split: ", " %}

    {% include entry.html 
        title=entry.title
        description=entry.description
        tags=tags
        url=entry.url
        unique_id=unique_id
        img=entry.img
        date=entry.date
        %}

{% endfor %}