<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<link rel="canonical" href="{{ include.canonical_url }}" />
<meta name="robots" content="index, follow">
<link rel="shortcut icon" type="image/png" href="{{ '/assets/' | relative_url }}{{ site.favicon }}">

<link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap.min.css?4262' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/style.css?6468' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/animate.min.css?4496' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/all.min.css' | relative_url }}">
<link href='https://fonts.googleapis.com/css?family=Vollkorn&display=swap&subset=latin,latin-ext' rel='stylesheet'
    type='text/css'>
<title>{{ include.title }}</title>



<!-- Analytics -->

<!-- Analytics END -->