<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<link rel="canonical" href="{{ include.canonical }}" />
<meta name="robots" content="index, follow">
<link rel="shortcut icon" type="image/png" href="assets/{{ site.favicon }}">

<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css?4262">
<link rel="stylesheet" type="text/css" href="assets/style.css?6468">
<link rel="stylesheet" type="text/css" href="assets/css/animate.min.css?4496">
<link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Vollkorn&display=swap&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<title>{{ include.title }}</title>



<!-- Analytics -->

<!-- Analytics END -->
