<!-- bloc-logo -->
<div class="bloc l-bloc" id="bloc-logo">
	<div class="container bloc-no-padding-lg bloc-no-padding-md bloc-no-padding-sm bloc-no-padding">
		<div class="row">
			<div class="col text-center text-md-start">
				<a class="navbar-brand mx-auto" href="index.html">
					<img src="assets/img/lazyload-ph.png" data-src="assets/img/{{ site.logo_black }}" class="img-fluid img-protected mx-auto d-block img-namelblbla-style lazyload" alt="logo" />
				</a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-logo END -->