<!-- bloc-photo -->
<div class="bloc bloc-fill-screen l-bloc" id="bloc-photo">
    <div class="container">
        <div class="row">
            <div class="text-center text-md-start col-lg-8 offset-lg-2">
                {% if include.img %}
                <img src="{{ '/assets/img/lazyload-ph.png' | relative_url }}"
                    data-src="{{ '/assets/img/' | relative_url }}{{ include.img }}"
                    class="img-fluid img-protected mx-auto d-block lazyload" alt="photo"
                    style="max-height:500px;height:auto;width:auto" />
                {% else %}
                <img src="{{ '/assets/img/lazyload-ph.png' | relative_url }}" data-src="{{ include.url }}"
                    class="img-fluid img-protected mx-auto d-block lazyload" alt="photo"
                    style="max-height:500px;height:auto;width:auto" />
                {% endif %}
                {% if include.description || include.location %}
                <p class="mg-lg text-lg-center">
                    {% if include.location %}
                    {{ include.location }} -
                    {% endif %}
                    {{ include.description }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- bloc-photo END -->