
<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></a>
<!-- ScrollToTop Button END-->

<!-- bloc-footer -->
<div class="bloc l-bloc" id="bloc-footer">
	<div class="container bloc-lg">
		<div class="row align-items-center">
			<div class="offset-lg-3 col-lg-2 col-4 offset-md-3 col-md-2">
				<div class="text-center">
					<a href="{{ site.github_url }}"><span class="icon-md fab fa-github icon-manatee icon-common"></span></a>
				</div>
			</div>
			<div class="col-lg-2 col-4 col-md-2">
				<div class="text-center">
					<a href="{{ site.linkedin_url }}"><span class="icon-md fab fa-linkedin icon-manatee icon-common"></span></a>
				</div>
			</div>
			<div class="col-lg-2 col-4 col-md-2">
				<div class="text-center">
					<a href="{{ site.google_scholar_url }}"><span class="icon-md fa fa-graduation-cap icon-manatee icon-common"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-footer END -->