{% if include.menu %}
<!-- bloc-site-menu-bar -->
<div class="bloc sticky-nav bgc-white" id="bloc-site-menu-bar">
	<div class="container bloc-no-padding-lg bloc-no-padding-md bloc-no-padding-sm bloc-no-padding">
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-light row navbar-expand-md flex-column" role="navigation">
					<div class="container-fluid flex-column">
						<div class="navbar-content-area col-12 text-lg-center text-md-center text-sm-center">
							<ul class="list-horizontal-layout list-unstyled p-style-secondary list-sp-md">
								{% for entry in include.menu %}
								{% for entry0 in entry %}
								<li>
									<a href="#" class="a-btn a-block" data-scroll-speed="1000" onclick="scrollToTarget('#{{ entry0[1].tag }}',this)">{{ entry0[1].title }}</a>
								</li>
								{% endfor %}
								{% endfor %}		
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- bloc-site-menu-bar END -->
{% endif %}