<!doctype html>
<html>
<head>
	{% include header_content.html canonical=page.canonical title=page.title %}
</head>
<body>

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->

<!-- Main container -->
<div class="page-container">

<!-- Banner -->
{% if page.banner_size == "small" %}

{% include banner_small.html %}

{% elsif page.banner_size == "medium" %}

{% include banner_medium.html %}
{% include logo.html %}

{% endif %}

<!-- Menu bar -->
{% include menu_bar.html %}

<!-- Site menu bar -->
{% if page.toc %}
{% include site_menu_bar.html menu=page.toc %}
{% endif %}

<!-- Content -->
{{ content }}

<!-- Scroll and footer -->
{% include scroll_button_and_footer.html %}

</div>
<!-- Main container END -->
    
{% include js_footer.html is_home=false %}

</body>
</html>
